<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Danh Mục Sản Phẩm</h3>
<p>
  <a th:href="@{/categories/create}">
    Tạo danh mục sản phẩm mới
  </a>
</p>

<table id = "categories">
  <thead>
  <tr>
    <th>Tên Danh Mục</th>
    <th>Chỉnh Sửa</th>
    <th>Xóa</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="category : ${categories}">
    <tr>
      <td th:text="${category.name}"></td>
      <td><a th:href="@{categories/edit/__${category.id}__}">Chỉnh Sửa</a></td>
      <td><a th:href="@{/categories/delete__${category.id}__}">Xóa</a></td>
    </tr>
  </th:block>
  </tbody>
</table>
<footer th:replace="/layout :: footer">
</footer>
</body>
</html>